<header>
    <nav class="navbar">
        <div class="logo">
            <a> PlenaPsi</a>
        </div>
        <ul class="nav-links">
            <li><a href="{% url 'home' %}">Início</a></li>
            <li><a href="{% url 'clinica' %}">Psicologia Clínica</a></li>
            <li><a href="{% url 'pericia' %}">Perícia Psicológica</a></li>
            <li><a href="{% url 'cursos' %}">Cursos e Palestras</a></li>
            <li><a href="{% url 'sobre' %}">Quem Somos</a></li>
            <li><a href="https://lueducaonlinepsicologiaesociologia.wordpress.com/" target="_blank" rel="noopener noreferrer">Blog</a></li>
            <li><a href="{% url 'contato' %}">Contato</a></li>
        </ul>
        <a class="btn-contato" href="#">Entre em Contato</a>
    </nav>
</header>
